/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.row {
	margin-top: 50px;
}

.jumbotron {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-link {
	font-weight: 200;
	font-size: 18px;
}

.bio {
	font-size: 18px !important;
}